.statistics{
    position: absolute;
width: 1140px;
height: 200px;
left: 150px;
top: 664.55px;

background: #FFFFFF;
border-radius: 10px;
}

.statistics-users{
position: absolute;
left: 91px;
width: 155px;
height: 53px;
top: 67.5px;
bottom: 67.5px;
}
.statistics-location{
    position: absolute;
    left: 350px;
    width: 155px;
    height: 53px;
    top: 37.21px;
}
.statistics-server{
    position: absolute;
left: 700px;
width: 155px;
height: 53px;
top: 37.21px;
}












.line-users{
    position: absolute;
    left: 350px;
    top: 25px;
}
.line-servers{
    position: absolute;
    left: 750px;
    top: 25px;
}
.info-image{
    position: absolute;
width: 508.12px;
height: 414.71px;
left: 184.52px;
top: 960.38px;
}

.info-title{
    position: absolute;
width: 383.41px;
height: 100px;
left: 862.12px;
top: 1014.55px;

font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
color: #0B132A;
}
.info-text{
position: absolute;
width: 427.88px;
height: 60px;
left: 862.12px;
top: 1134.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.info-list{
    position: absolute;
width: 179px;
height: 30px;
left: 896.2px;
top: 1214.55px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 30px;
color: #4F5665;
}