/*для тайлов и других элементов со встроенными маргинами обнуляем всегда маргины, потом пишем свои, если надо. На проекте обычно это делает бибилотека reset или normalize*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.h2 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: #0B132A;
}

.text {
    font-size: 16px;
    color: #4F5665;
    margin-bottom: 20px;
}

.body {
    /* max-weidth 1440px; проверяй на наличие ошибок, тут прям херня случилась */
    /*для боди макс ширину не создаем никогда!*/
    font-family: Rubik, sans-serif;
    font-weight: normal;
}

.main {
    max-width: 1440px; /*макс ширина контента*/
    margin: 100px auto 0; /*выравниваем блок посередине боди*/
}

.content {
    background-color: #FFFFFF;
    padding: 0 150px;
}

.statistics {
    /* width: 1140px; тут нахрен не сдалось */
    /* height: 200px; тоже не надо, вдруг текста станет больше? */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0;
    margin-bottom: 95px;

}

.statistics-icons {
    flex-basis: 33.33%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.statistics-icons:not(:last-child) {
    border-right: 2px solid #EEEFF2;
}

.icons-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    flex-basis: 55px;
}

.statistics__number {
    /* font-family: Rubik; уже есть в боди */
    /* font-style: normal; у тебя другие стили фонта и не подгружены, максимум можешь такое в боди прописать */
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    display: block;
}

.statistics__name {
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
    display: block;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.info-content {
    max-width: 430px;
}

.info-title {
    text-align: left;
}

.info-image {
    max-width: 508px;
}

.info-image img {
    width: 100%;
    margin-bottom: 0;
}

.info-list {
    padding: 0;
    margin: 0;
}

.info-item {
    list-style: none;
    font-size: 14px;
    color: #4F5665;
    position: relative;
    padding-left: 40px;
}

.info-item:not(:last-child) {
    margin-bottom: 20px;
}

.info-item::before {
    position: absolute;
    content: '';
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url("/img/Check.png") center no-repeat;
}