header.header 
    nav 
        a.header-info(href="#") About
        a.header-info(href="#") Features
        a.header-info(href="#") Pricing
        a.header-info(href="#") Testimonials
        a.header-info(href="#") Help
        .header-btn
            a(href="#") Sing In
            a(href="#") Sign Up 
    img(src="../img/Logo.png", alt="Logo")
