mixin statistic(svg, num, name)
    - var svgName = svg;
    .statistics__item
        .statistics__image
            img( src="img/svg/" + svgName + ".svg" alt="" + svgName)
        span.statistics__num #{num}
        span.statistics__name #{name}

