section.section-title 
    .box-title
        h1 Want anything to be easy with LaslesVPN.
        p Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
        button.box-title_btn Get Started
    img(src="../img/user1.png", alt="user1")
    
    