section.content
    .statistics 
        .statistics-item
            .statistics-image
                img(src="../img/svg/Human.svg", alt="Human")
            span.statistics-num 90+
            span.statistics-name Users 
        .statistics-item
            .statistics-image
                img(src="../img/svg/Map.svg", alt="Map")
            span.statistics-num 30+
            span.statistics-name Locations 
        .statistics-item
            .statistics-image
                img(src="../img/svg/Servers.svg", alt="Servers")
            span.statistics-num 50+
            span.statistics-name Servers 